@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,600;1,100&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 22px;
}

body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1400px;
    display: flex;
    flex-direction: column;
    

}

header {
    display: flex;
    flex-direction: column;
    margin-top: 50px;


}
.top {
    display: flex;
    justify-content: space-between;

}

.logo {
    width: auto;
    height: 19px;
}

.main-nav ul {
    display: flex;

}

.main-nav li {
    margin-left: 67px;
}

nav ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

header nav a:hover {
    text-decoration: underline;
    /*à définir en dessous pour la version mobile */
    text-underline-offset: -48px;
    color: #0065FC;
}
.recherche {
    display: flex;
    flex-direction: column;
}
.bar {
    display: flex;
    border-radius: 15px;
    height: 49px;
    width: 332px;

}

.bar label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: 1px  #F2F2F2 solid;
    border-right: 0px;
    background: #F2F2F2;
    border-radius: 15px 0 0 15px;
    
}

.bar [type="submit"] {
    border: 0px  #F2F2F2 solid;
    border-radius: 0 15px 15px 0;
    color: White;
    background-color: #0065FC;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border-left: 0px;
}

.bar [type="text"] {
    border: 1px  #F2F2F2 solid;
    border-left: 0px;
    border-right: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    padding: 17px;
    color: black;
    /* Penser à ajouter la loupe et le texte pour la partie mobile */
}

.filtres-liste {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    text-align: center;   
}
.filtres-liste p {
    margin-right: 20px;

}
.filtre {
    display: flex;
    align-items: center;
    border: 2px #D9D9D9 solid ;
    border-radius: 25px ;
    margin: 32px;
   
}
.filtre:hover {
    background: #DEEBFF;
}
.filtres-liste i {
    color: #0065FC;
    margin-right: 10px; 
    margin-left: 20px;
}
.filtres-titre {
    display: flex;
    align-items: center;
    border-radius: 25px ;
    margin: 32px 32px 32px 0;
   
}
.indication {
    display: flex;
    align-items: center;
}
.cercle {
    height: 24px;
    width: 24px;
    border: 1px #D9D9D9 solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 3px;
}
.indication i {
    color: #0065FC;
    
}
.indication p {
    font-weight: 400;
    font-size: 16px;
    margin-left: 11px;
}
.hebergements {
    display: flex;
    
}
article.hebergements, aside.hebergements {
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 20px;
    margin-left: 0px;
    padding: 40px ;

    
}


article.hebergements {
    margin-right: 30px;
}

.hotels-liste {
    display: flex;
    flex-wrap: wrap;
    
}
.hotel {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: #FFFFFF;
    transition: 0.3s;
    border-radius: 20px ;
    height: 209px;
    width: 246px;
    margin: 31px;
    margin-left: 0px;
    
}
.hotel:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.info-hotel {
    display: flex;
    flex-direction: column;
    align-content: center;
}
h3 {
    font-weight: 700;
    font-size: 16px;
    margin: 0px;
    margin-left: 10px;
}
.info-hotel p {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    margin-left: 10px;
}
.hotel img {
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.titre-stylise {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notation {
    margin: 0px;
    margin-left: 10px;

}
.fa-star {
    margin: 0px;
    color: #0065FC;
    font-size: 12px;
}
.fa-star.grey {
    color: #F2F2F2;
}
.fa-chart-line {
    color:#0065FC;
}
.hotels-populaires .hotel {
    flex-direction: row;
    width: 343px;
    height: 144px;
    height: auto;
}
.hotels-populaires .hotel img {
    width : 137px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}
.info-hotel{
    justify-content: space-between;
    margin: 10px;
}
.activites {
    margin-top: 60px;
    
}
.liste-activites {
    display: flex;
    justify-content: space-between;
}
.activite {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: #FFFFFF;
    transition: 0.3s;
    border-radius: 20px ;
    height: 445px;
    width: 302px;
    margin-left: 0px;
}
.activite:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.activite img {
    height: 389px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.info-activite {
    display:flex;
    flex-direction: column;
    height: 100%;
   justify-content: center;
}
footer {
    display: flex;
    justify-content: space-around;
    background: #F2F2F2;
    margin-top: 60px;
    height: 100%;
    align-items:center;
    padding: 45px;

}
footer h2 {
    font-weight: 700;
    font-size: 18px;
    margin: 0px;

}
footer nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
footer ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    
}
footer li {
    margin-top: 12px;
}